@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header{
    background-color: #EAC926;
}
.h1{
    text-align: center;
    margin-top: 10px;
}
.nav{
    display: none;
}
.nav ul{
    list-style: none;
}
.logo-ml{
    width: 150px;
    margin-top: 5vw;
    margin-left: 5vw;
}
.header-form{
    margin-top: 5vw;
    margin-right: 5vw;
}
.burger-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fa-bars{
    background-color: #1259c3;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 2vh;
    margin-bottom: 4vw;
}
.lbh{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
@media (min-width: 768px) {
    .burger-menu{
        display: none;
    }
    .header-form{
        margin-right: 0;
    }
    .h1{
        margin-top: 5vw;
        margin-right: 5vw;
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5vh;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .navega li{
        margin: 0 10px;
        margin-bottom: 2vh;
    }
    .cuenta li{
        margin: 0 10px;
        margin-bottom: 2vh;
    }
}
@media (min-width: 1024px){
    .logo-ml{
    width: 300px;
    }
    .header-form{
        margin-top: 8vh;
        font-size: 17px;
    }
    .h1{
        margin-top: 8vh;
        font-size: 17px;
    }
    
}