*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.titular{
    font-size: 24px;
}
.img{
    margin-top: 10px;
    margin-bottom: 38px;
    width: 200px
}
.precios{
    font-size: 18px;
    margin-right: 0px;
}
.descuentos{
    font-size: 16px;
    margin-left: 0px;
    color: #39b54a;
}
.descripciones{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid;
    border-color:#ebebeb ;
    display: none;
}
.fondo{
    background-color: #ebebeb;
}
.aline{
    text-align: center;
}
.bg-white{
    background-color: white;
    width: 90%;
    height: auto;
    margin: 5vw;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: display 2s, boxshadow 4s, transform 2s;
}
.bg-white:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.bg-white:hover .descripciones{
    display: block;
}
.stiker{
    position: absolute;
    margin-top: 51%;
    width: 7%;
    left: 8%;
    font-size: 15px;
    border: 1px solid;
    border-radius: 90%;
    padding: 1vw;
    color:#39b54a;
}
.bg-white:hover .stiker{
    animation: 3s  alternate ani-logo;
}
@keyframes ani-logo{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-90deg)}
}
.textos{
    text-align: start;
    margin-left: 15px;
    margin-right: 15px;
}
.juntos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px;
    margin-right: 48vw; 
}
main{
    margin-bottom: 2vw;
}
@media (min-width: 768px) {
    .formato {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bg-white{
        position: relative;
        width: 55%;
        margin: 11vw;
        font-size: 2;
    }
    .stiker{
        margin-top: 104%;
        width: 17%;
        left: 12%;
    }
    .articulo{
        width: 50%;
    }
    .precios{
        margin-right: 0px;
    }
    .descuentos{
        margin-left: 6px;
    }
    .juntos{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0px;
        margin-right: 4.3vw; 
    }
}
@media (min-width: 1024px) {
    .bg-white{
        width: 90%;
        margin: 2vw;
    }
    .stiker{
        margin-top: 92%;
        width: 17%;
        left: 7%;
    }
    .articulo{
        width: 25%;
    }
}